html{
    margin: auto;
    padding: 0px;
    height: 100vh;
}
#navbar{
    display: flex;
    justify-content: space-between;
    }
.social{
    display: flex;
    float: right;
}


.logo{
    background-color: lightgreen;
}
   
.social ul li{
list-style: none;
padding:10px 30px;
position:relative;
display: inline-block;
}
.about{
    
}